{% extends "bl/creator/base.html" %}

{% load mytags %}


{% block head %}





{% endblock head %}

{% block content %}

<section id="widgets-advance">
  <div class="row">
    <div class="col-12 mt-1 mb-2">
      <h4 style="text-align: center;">Go ahead select what you need to upload</h4>
   
    </div>
  </div>


<div class="row widgets-text-chart">


    <!-- User Widget with Image-top Starts -->
    <div class="col-xl-6 col-md-6 img-top-card">
    <a href={% url 'bl:uploadtrack' %}>
    
    
  
      <div class="card widget-img-top">
        <div class="card-content">
      <div class="text-center">

       <i style="font-size: 10rem" data-icon="music"  class="menu-livicon"></i>

</div>
        
          <div class="text-center">
            <h4>Tracks</h4>
         
          </div>
        </div>
   
      </div>

        </a>
    </div>
    <!-- User Widget with Image-top Ends -->



      <!-- User Widget with Image-top Starts -->
    {% comment %} <div class="col-xl-4 col-md-6 img-top-card">
      <a href={% url 'bl:uploadalbum' %}>
      <div class="card widget-img-top">
        <div class="card-content">
       <div class="text-center">

             <i style="font-size: 10rem" data-icon="morph-stack"  class="menu-livicon"></i>

</div>
          <div class="text-center">
            <h4>Album / EP</h4>
           
          </div>
        </div>
    
      </div>
         </a>
    </div> {% endcomment %}
    <!-- User Widget with Image-top Ends -->
      <!-- User Widget with Image-top Starts -->
    <div class="col-xl-6 col-md-6 img-top-card">
    <a href="#">
      <div class="card widget-img-top">
        <div class="card-content">
        <div class="text-center">

            <i style="font-size: 10rem" data-icon="headphones"  class="menu-livicon"></i>

</div>
          <div class="text-center">
            <h4>Podcast</h4>
          
          </div>
        </div>
       
      </div>
         </a>
    </div>
    <!-- User Widget with Image-top Ends -->

</div>

</section>  
{% endblock content %}