
        <div class="main_slider_wrapper slider-area index3_slider_wrapper">

            <div class="slider_headphone">
                <img src="/static/bl/images/headphone.png" class="img-responsive" alt="img">
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="carousel-captions caption-1">
                            <div class="container jn_container">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="content">

                                            <h1 data-animation="animated fadeInUp">sound,</h1>

                                            <h2 data-animation="animated fadeInUp">your world</h2>
                                            <p data-animation="animated fadeInUp">Even while listening to music, simply say “Olivia”
                                                <br> to interact with Olivia. </p>
                                            <div class="slider_btn m24_cover">
                                                <div class="lang_apply_btn">
                                                    <ul>
                                                        <li data-animation="animated fadeInUp">
                                                            <a href="#"> <i class="flaticon-play-button"></i>browse</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="content_img_wrapper">
                                            <img src="/static/bl/images/slider3.png" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-captions caption-2">
                            <div class="container jn_container">
                                <div class="row">

                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="content">

                                            <h1 data-animation="animated fadeInUp">sound,</h1>

                                            <h2 data-animation="animated fadeInUp">your world</h2>
                                            <p data-animation="animated fadeInUp">Even while listening to music, simply say “Olivia”
                                                <br> to interact with Olivia. </p>
                                            <div class="slider_btn m24_cover">
                                                <div class="lang_apply_btn">
                                                    <ul>
                                                        <li data-animation="animated fadeInUp">
                                                            <a href="#"> <i class="flaticon-play-button"></i>browse</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="content_img_wrapper">
                                            <img src="/static/bl/images/slider3.png" alt="img">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-captions caption-3">
                            <div class="container jn_container">
                                <div class="row">

                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="content">

                                            <h1 data-animation="animated fadeInUp">sound,</h1>

                                            <h2 data-animation="animated fadeInUp">your world</h2>
                                            <p data-animation="animated fadeInUp">Even while listening to music, simply say “Olivia”
                                                <br> to interact with Olivia. </p>
                                            <div class="slider_btn m24_cover">
                                                <div class="lang_apply_btn">
                                                    <ul>
                                                        <li data-animation="animated fadeInUp">
                                                            <a href="#"> <i class="flaticon-play-button"></i>browse</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="content_img_wrapper">
                                            <img src="/static/bl/images/slider3.png" alt="img">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><span class="number"></span>
                        </li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""><span class="number"></span>
                        </li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""><span class="number"></span>
                        </li>
                    </ol>
                    <div class="carousel-nevigation">
                        <a class="prev" href="#carousel-example-generic" role="button" data-slide="prev"> <span> prev</span> <i class="flaticon-arrow-1"></i>
                        </a>
                        <a class="next" href="#carousel-example-generic" role="button" data-slide="next"> <span> next</span> <i class="flaticon-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

 <!-- treanding song wrapper end -->
        <!-- download wrapper start -->
        <div class="download_wrapper m24_cover">
            <div class="concert_overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="download_app_store m24_cover">
                            <h1>DOWNLOAD THIS APP</h1>

                            <p>There are many variations of passages of Lorem Ipsum available, but passages of Lorem this is wow.</p>
                            <div class="app_btn m24_cover">
                                <a href="#">get the app now</a>

                            </div>
                            <ul class="download_app_logo">
                                <li><a href="#"><i class="flaticon-android-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-apple"></i></a></li>
                                <li><a href="#"><i class="flaticon-windows"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="download_mockup_design m24_cover">

                            <img src="/static/bl/images/mockup.png" class="img-responsive" alt="img">
                        </div>
                    </div>
                </div>

            </div>
        </div>
      
        <!-- partners slider  wrapper Start-->
        <div class="partners_Section index3_partners_section m24_cover">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="partner_slider_wraper index3_partners_slider">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="lr_prt_img_wrapper">
                                        <img src="/static/bl/images/part1.png" alt="partner_img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="lr_prt_img_wrapper">
                                        <img src="/static/bl/images/part2.png" alt="partner_img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="lr_prt_img_wrapper">
                                        <img src="/static/bl/images/part3.png" alt="partner_img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="lr_prt_img_wrapper">
                                        <img src="/static/bl/images/part4.png" alt="partner_img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="lr_prt_img_wrapper">
                                        <img src="/static/bl/images/part1.png" alt="partner_img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="lr_prt_img_wrapper">
                                        <img src="/static/bl/images/part2.png" alt="partner_img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- partners slider  wrapper end-->
      
