<form id="songFormer" method="post" enctype="multipart/form-data">

    <div class="p-4 d-sm-flex no-shrink b-b">
        <div class="col-4 d-flex">



            <div class="treanding_slider_main_box m24_cover">
                <img src="`+ imageUri +`" width="240px" alt="img">

                <div class="m24_treanding_box_overlay">
                    <div class="m24_tranding_box_overlay"></div>

                    <div class="tranding_play_icon various_concert_icon">
                        <a href="#">
                            <i class="flaticon-play-button"></i>
                        </a>
                    </div>
                </div>

            </div>

            <audio src="`+ audioSrc +`" controls></audio>

            <div class="col-8 px-sm-4 my-3 my-sm-0 flex">
                <div class="form-group row">
                  
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" value="` +  audioTags.tags.title + `" placeholder="Name" required> 
                            
                        
                </div>
                <div class="form-group">
                    <label>Description (Optional)</label>
                    <textarea class="form-control" rows="6" placeholder="hmm.."></textarea>
                </div
                
                ><a onclick="addSong()" class="btn btn-primary">Submit</a>
            </div>


            <div>
                <a href="#" class="btn btn-icon btn-rounded"><i data-feather="mail"></i> </a><a href="#"
                    class="btn btn-icon btn-rounded"><i data-feather="more-vertical"></i></a>
            
            </div>
        </div>
    </div>
 
</form>




















<div class="artist_wrapper m24_cover">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="artist_wrapper_content m24_cover">
                    <!-- <img src="`+ imageUri +`"  class="img-responsive" alt="img"> -->

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="treanding_slider_main_box playlist_wrapper m24_cover">
                            <img src="images/play3.jpg" alt="img">

                            <div class="m24_treanding_box_overlay">
                                <div class="m24_tranding_box_overlay"></div>

                                <div class="tranding_play_icon various_concert_icon">
                                    <a href="#">
                                        <i class="flaticon-play-button"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="various_song_playlist">
                                <p><a href="#">my favourites</a></p>
                                <p class="various_artist_text"><a href="#">30 songs</a></p>

                            </div>
                        </div>
                    </div>
                    <div class="artist_wrapper_text">
                        <div class="artist_wrapper_left">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" value="` +  audioTags.tags.title + `" placeholder="Name" required> 
                                
                            <label>Description (Optional)</label>
                        <textarea class="form-control" rows="6" placeholder="hmm.."></textarea>
                            <div class="artist_btn m24_cover">
                                <div class="lang_apply_btn">

                                    <a href="#"><i class="flaticon-play-button"></i> play all</a>

                                </div>
                                <div class="cancel_wrapper">
                                    <a href="#"><i class="flaticon-radio"></i>  radio</a>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- artist single wrapper end -->