Get Featured on Pod Music



First of all,  google account will have actually signed up,
but we got to have our own main stage of registration



SSo whenever we try to access again after logging session out,we shall either do the followinng,

--coME BACK TO this page if user never ever submitted data successfully on thsi page
--talk about pending
--what if we rejected them affter a phone call confirmed applicant was fraud,(then we remind them that they were once here and we remember hhahahahaha)



Contaact Emaail

-EIther Use the google logged in with or checkbox other option to input different email (Probably label***have to put supersscript type like question mark that opens baddge with more detail)


Phone-
- ANd HAVE TO CALL THEM all


Artist Name
- this unique as fuck (should be a very seemless databse query to all user names in order to tell them to claim the artist page in any casse)


well have to create a claim page too+++++++Wea the logic at



__ pASSWORD WILL be created on anoter stage

link will be ssent to email after also sending an application success mail beforehand all this mostlt after a phone call





